@model Mesa01.Models.ViewModels.OperadorFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>@ViewData["Title"]</h2>

<h4>Operador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Operador.Id" /> <!--criamos um campo oculto(hidden) com o Id do Operador-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Operador.Nome" class="control-label"></label>
                <input asp-for="Operador.Nome" class="form-control" />
                <span asp-validation-for="Operador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Email" class="control-label"></label>
                <input asp-for="Operador.Email" class="form-control" />
                <span asp-validation-for="Operador.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.BirthDate" class="control-label"></label>
                <input asp-for="Operador.BirthDate" class="form-control" />
                <span asp-validation-for="Operador.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.BaseSalary" class="control-label"></label>
                <input asp-for="Operador.BaseSalary" class="form-control" />
                <span asp-validation-for="Operador.BaseSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--esse bloco é o componente que vai montar a caixinha de seleção da lista de departamentos -->
                <label asp-for="Operador.DepartamentoId" class="control-label"></label>
                <!--esse tag select é que vai montar a caixinha de seleção, o tag asp-items é que vai criar as opções a partir de uma lista-->
                <select asp-for="Operador.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
