@model Mesa01.Models.ViewModels.FechamentoFormViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Fechamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Fechamento.Id" />
            <div class="form-group">
                <label asp-for="Fechamento.TipoId" class="control-label"></label>
                <select asp-for="Fechamento.TipoId" asp-items="@(new SelectList(Model.Tipos,"Id","Nome"))" class="form-control"></select>
                <span asp-validation-for="Fechamento.TipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Operador" class="control-label"></label>
                <select asp-for="Fechamento.OperadorId" asp-items="@(new SelectList(Model.Operadores,"Id","Nome"))" class ="form-control"></select>
                <span asp-validation-for="Fechamento.OperadorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Data" class="control-label"></label>
                <input asp-for="Fechamento.Data" class="form-control" />
                <span asp-validation-for="Fechamento.Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Empresa" class="control-label"></label>
                <input asp-for="Fechamento.Empresa" class="form-control" />
                <span asp-validation-for="Fechamento.Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Valor" class="control-label"></label>
                <input asp-for="Fechamento.Valor" class="form-control" />
                <span asp-validation-for="Fechamento.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Taxa" class="control-label"></label>
                <input asp-for="Fechamento.Taxa" class="form-control" />
                <span asp-validation-for="Fechamento.Taxa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Despesa" class="control-label"></label>
                <input asp-for="Fechamento.Despesa" class="form-control" />
                <span asp-validation-for="Fechamento.Despesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Fluxo" class="control-label"></label>
                <input asp-for="Fechamento.Fluxo" class="form-control" />
                <span asp-validation-for="Fechamento.Fluxo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fechamento.Banco" class="control-label"></label>
                <input asp-for="Fechamento.Banco" class="form-control" />
                <span asp-validation-for="Fechamento.Banco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
